@page
@model InvertirOnlineApp.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1>¡Bienvenido a InvertirOnlineApp!</h1>
    <p>Aquí puedes gestionar tu portafolio de inversión de manera sencilla y eficaz.</p>
</div>