@page
@model InvertirOnlineApp.Pages.TasasPlazosFijosModel 
@using System.Text.Json

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/js/tablas.js"></script>

<h2>TNA Bancos</h2>

@if (Model.Bancos != null && Model.Bancos.Count > 0)
{
    var bancosOrdenado = Model.Bancos
        .OrderByDescending(item => item.tnaClientes)
        .ToList();

   <table class="table dark-mode">
        <thead>
            <tr>
                <th>Entidad</th>
                <th>TNA Clientes</th>             
            </tr>
        </thead>
        <tbody>
            @foreach (var item in bancosOrdenado)
            {
                <tr>
                    <td>@item.entidad</td>
                    <td>@(item.tnaClientes.HasValue ? (item.tnaClientes.Value * 100).ToString("F2") : "-") %</td>          
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>No se encontraron datos en el banco.</p>
}
